---
title: RAKESH G | Front End Developer
layout: default
---
<!-- land page  -->
<div class="container-fluid intro-lg uppercase bkg">
  <div class="col-xs-10 colxs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
    <h1 id="title" class="animated fadeInUp">Rakesh</h1>
    <h3 id="sub" class="animated bounceIn"> Front End Developer
    </h3>
    <div class="divider divider-intro animated bounceIn"></div>
  </div>
  <a href="#about">
    <div class="mouse">
    <span></span>
    </div>
  </a>
</div>

<!-- land page end -->

{%include home/about.html %}
{%include home/skills.html%}
{%include home/portfolio.html%}
{%include home/contact.html%}
  