<!-- footer starts -->

<footer>
  <ul class="list-inline social">
    <li>
      <a target="_blank" href="https://twitter.com/rakesh242"  class="social-twitter">
        <i class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.facebook.com/gudlarakesh"  class="social-facebook">
        <i class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://www.linkedin.com/profile/view?id=301148328&trk=nav_responsive_tab_profile_pic"  class="social-linkedin">
        <i class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </i>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://github.com/gudlarakesh" class="social-github">
        <i class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </i>
      </a>
    </li>
  </ul>
  <p> 2015 G Rakesh | Front End Developer</p>
</footer>  


<!-- footer ends -->