#skills,#about{
  height: 100vh;
  overflow: hidden;
}

// contact css starts
#contact{
  background-color: #BDC3C7;
    height: 50vh;
    h2{
        text-align:center;
        font-size: 2.0em;
    }
    p{
        text-align:center;
        margin-top: 2em;
        font-size: 1.7em;
        animation-delay:1.0s;
    }
}

//contact css ends

//portfolio css starts 

.portfolio {
    position: relative;
    min-width: 100%;
    height: 100vh;
    padding: 0;
    background-color: #DADFE1;
}
.portfolio h3{
    font-size: 1.8em;
    text-align: center;
}

.portfolio-item {
    height: 300px;
    overflow: hidden;
    border: 1px solid transparent;
}

.item figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    cursor: pointer;
}

.item figure img {
    position: relative;
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100%;
}

.item figure figcaption {
    padding: 2em;
    font-size: 1.25em;
    color: #fff;
    text-transform: uppercase;
}

.item figure figcaption:before,
.item figure figcaption:after {
    pointer-events: none;
}

.item figure figcaption,
.item figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
}

.item figure figcaption .demoall{
  border: 1px solid #fff;
  padding: 10px;
  }

  .item figure figcaption .codeall{
  border: 1px solid #fff;
  padding: 10px;
    }

.item figure figcaption > a {
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.item figure h2 {
    word-spacing: -0.15em;
}

.item figure h2,
.item figure p {
    margin: 0;
}

.item figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}
.item figure p a {
    text-decoration: none;
    color: #FFF;
    padding-left: 50px;
    padding-top: 30px;
    margin-right: 50px;
}

figure.effect-item { background: #000; }

figure.effect-item img {
    opacity: 0.35;
    filter: alpha(opacity=35);
    transition: all 1.5s;
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
    -webkit-filter: gray;
            filter: gray;
}

figure.effect-item:hover img {
    opacity: 0.15;
    transform: scale(1.025);
}

figure.effect-item h2 {
    padding-top: 100px;
    font-family: 'Montserrat Regular';
    font-size: 1.1em;
    letter-spacing: 0.05em;
    word-spacing: 0.15em;
    transform: translate3d(0,-10px,0);
    transition: transform 0.9s;
}

figure.effect-item p {
    padding: 15px 2.5em;
    font-size: 0.8em;
    color: #b6a057;
    word-spacing: 0.1em;
    opacity: 0;
    transform: translate3d(0,20px,0);
    transition: opacity 0.35s, transform 0.7s;
}

figure.effect-item:hover h2,
figure.effect-item:hover p {
    opacity: 1;
    transform: translate3d(0,0,0);
}

@media only screen and (max-width: 767px) {
  #portfolio{
    height:200vh;
    .portfolio-item {
        height: 25vh;
    }
    figure.effect-item h2 {
        padding-top: 45px;
        font-size: 1em;
    }
    figure.effect-item p { 
        font-size: 0.7em;
    }
  }
}

@media only screen and (min-width: 1600px) {
    .portfolio-item {
        height: 425px;
    }
}

//potfolio page ends


//skills starts

#technical{
  background-color: #666;
  height: 100vh;
  text-align: center;
  
  .technical .container{
    padding-top:85px ;
    padding-bottom:69px ;
  }
 
  .heading h2{
    color:#fff;
    font-size: 2.5em;
  }
  .skill-top{
    margin-top: 7em;
  }

  .skillsArea{
    padding:0px;
    .skills{
      margin:0 auto;
      text-align:center;
      padding:0px;
      float:none;
      .percent {
        color: #fff;
        display: inline-block;
        font-size: 1.8em;
        line-height: 60px;
        margin-top: 2em;
      }
      h4{
        text-transform:uppercase;
        padding: 0;
        color: #fff;
      }
    }
  }
  .skill-mid{
    margin-top: 4em;
  }

  .chart {
    position: relative;
    display: inline-block;
    width: 152px;
    height: 152px;
    margin-bottom: 26px;
    text-align: center;
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

@media only screen and (max-width: 767px) {
  #skills{
    height:260vh;
    .skills{
      height:40vh;
      h4{
        text-decoration: underline;
      }
    }
  }
}
//skill css ends



// about css  start

#about{
  background-color: #3299BB;
  color: #fff;
 h2{
    text-align: center;
    font-size: 3em;
    }
    // img{
    //     height:100px;
    //     width:100px;
    // }
    p{
      font-size: 1.8em;
      margin-top: 2em;
      text-align: center;
    }
    img{
      margin-top: 4em;
      -webkit-border-radius: 25%;
              border-radius: 25%;
            opacity: 0.8;
          &:hover{
            color: black;
            opacity: 1;
          }
    }
}

@media only screen and (max-width: 767px){
  #about{
   height: 143vh;
   h1{
     text-align: center;
     margin-left: 25px;
   }
  .jntu,.jipt,.green,.code{
        height:27vh;
        margin-top:0;
        h4{
            font-size:15px;
            text-align: center;
            line-height: 1.4em;
        }
    }
    img{
     margin-left: 140px;
    }
 }
}
//about css ends