
$header-button-color-one:#72CCA7;
$header-color-overlay:#10A296;
$footer-color-one:#18FFFF;
$footer-color-two:#E0E0E0;
$footer-color-three:#b0b0b0;
$footer-span-color:#6D4C41;
$footer-social-color:#6D4C41;
$footer-twitter-color:#55ACEE;
$footer-fb-color:#3B5998;
$title-bg-color:#E4F1FE;