 <!-- About Me -->

<div id="#about">
<div id="about">
  <h2 class="wow slideInDown">About Me</h2>
  <div class="divider divider-intro animated bounceIn"></div>
    <div class="row">
   <div class="container">
     <div class="col-md-offset-1 col-md-5 wow slideInLeft">
       <!-- <p>As a front-end developer,<br> I get to take a design – something that’s beautiful but static – and turn it into an interface, where its components become tools for unique experiences on the web.</p> -->
       <p>Hey this is Rakesh, Right now i am working for a start-up <i>"SPEEZO"</i> as a front-end developer , I have good knowledge on AngularJs and other front end frame works.I can make webapp which can dynamically load and make it responsive.</p>
     </div>
     <div class="col-md-offset-1 col-md-4 wow slideInRight">
       <img src="../image/my1.jpg" alt="my image" class="img-circle img-responsive" width="230px" height="150px" >
     </div>
    </div>

   </div>
</div>
</div>

<!-- About Me Ends -->