 <!-- About Me -->

<div id="#about">
<div id="about">
  <h2 class="wow slideInDown">About Me</h2>
   <div class="container">
     <div class="col-md-offset-1 col-md-4 wow slideInRight">
       <img src="../image/my1.jpg" alt="my image" class="img-responsive" width="300px" height="250px">
     </div>
    <div class="row">
     <div class="col-md-offset-1 col-md-5 wow slideInLeft">
       <p>Design and back-end development are essential for the web, but the exciting area where they meet is front-end development. As a front-end developer,<br> I get to take a design – something that’s beautiful but static – and turn it into an interface, where its components become tools for unique experiences on the web.</p>
     </div>
    </div>

   </div>
</div>
</div>

<!-- About Me Ends -->