<!-- Contact page -->

<div id="#contact">
<div id="contact">
  <div class="container">
    <h2>Contact Me</h2>
    <div class="divider divider-intro animated bounceIn"></div>
    <p class="animated fadeInUp"><i class="fa fa-phone fa-3">   <span style="margin-right: 5vmin; margin-left: 1vmin" >9494866159</span></i></p>
    <p class="animated fadeInUp"><i class="fa fa-envelope-o fa-3"> <span><a href="mailto:gudlarakesh1991@gmail.com" style="margin-left: 1vmin"> gudlarakesh1991@gmail.com</a></span></i></p>
  </div>
</div>
</div>

<!-- Contact Page Ends -->