<!-- PORTFOLIO -->

<div id="portfolio">
  <section id="portfolio" class="portfolio row">
    <h3>PORTFOLIO</h3>
    <div class="portfolio-item col-md-4 padding-none">
      <div class="item">
        <figure class="effect-item">
          <img src="../image/psd.png">
          <figcaption>
            <h2>Social Matrimony<span> App</span></h2>
            <p>
              <a href="socialmatrimony.herokuapp.com"> <span class="demoall">Demo</span>
                <a href="https://github.com/gudlarakesh" target="_blank"> <span class="codeall">Code</span> </a>
              </a>
            </p>
          </figcaption>           
        </figure>
      </div>
    </div>
    <div class="portfolio-item col-md-4 padding-none">
      <div class="item">
        <figure class="effect-item">
          <img src="../image/calci.png">
          <figcaption>
            <h2>Business Model Canvas<span> Project</span></h2>
            <p>
              <a href="#"> <span class="demoall">Demo</span>
                <a href="https://github.com/gudlarakesh/BMC-1" target="_blank"> <span class="codeall">Code</span> </a>
              </a>
            </p>
          </figcaption>           
        </figure>
      </div>
    </div>
    <div class="portfolio-item col-md-4 padding-none">
      <div class="item">
        <figure class="effect-item">
          <img src="../image/puzzle.png">
          <figcaption>
            <h2>Eye Frame<span> Project</span></h2>
            <p>
              <a href="http://gudlarakesh.github.io/psd-html/" target="_blank"> <span class="demoall">Demo</span>
                <a href="https://github.com/gudlarakesh/psd-html" target="_blank"> <span class="codeall">Code</span> </a>
              </a>
            </p>
          </figcaption>           
        </figure>
      </div>
    </div><div class="portfolio-item col-md-4 padding-none">
      <div class="item">
        <figure class="effect-item">
          <img src="../image/mind.png">
          <figcaption>
            <h2>Puzzle-Game<span> Project</span></h2>
            <p>
              <a href="http://gudlarakesh.github.io/psd-html/" target="_blank"> <span class="demoall">Demo</span>
                <a href="https://github.com/gudlarakesh/psd-html" target="_blank"> <span class="codeall">Code</span> </a>
              </a>
            </p>
          </figcaption>           
        </figure>
      </div>
    </div>
    <div class="portfolio-item col-md-4 padding-none">
      <div class="item">
        <figure class="effect-item">
          <img src="">
          <figcaption>
            <h2>Codility Tracker<span> Project</span></h2>
            <p>
              <a href="http://gudlarakesh.github.io/psd-html/" target="_blank"> <span class="demoall">Demo</span></a>
                <a href="https://github.com/gudlarakesh/psd-html" target="_blank"> <span class="codeall">Code</span> 
              </a>
            </p>
          </figcaption>           
        </figure>
      </div>
    </div>
    <div class="portfolio-item col-md-4 padding-none">
      <div class="item">
        <figure class="effect-item">
          <img src="" alt="">
          <figcaption>
            <h2>Psd-Html<span> Project</span></h2>
            <p>
              <a href="http://gudlarakesh.github.io/psd-html/" target="_blank"> <span class="demoall">Demo</span>
                <a href="https://github.com/gudlarakesh/psd-html" target="_blank"> <span class="codeall">Code</span> </a>
              </a>
            </p>
          </figcaption>           
        </figure>
      </div>
    </div>
  </section>
</div>

<!-- portfolio end -->